@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-dark {
  color: #303841;
}

.text-light {
  color: #F5FAFF;
}

.text-gray {
  color: #FFFFFF;
}

.bg-dark {
  background-color: #303841;
}

.bg-light {
  background-color: #F5FAFF;
}

.bg-gray {
  background-color: #FFFFFF;
}

.mini-heading {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: -0.0255rem;
}

.btn-link {
  display: inline-flex;
  height: 3rem;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 1px solid #303841;
  background: #F5FAFF;
}
.btn-link_btn-dark {
  background-color: #303841;
  color: #F5FAFF;
}
.btn-link_btn-light {
  background-color: #F5FAFF;
  color: #303841;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}
.nav__link {
  color: #303841;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1rem;
  letter-spacing: -0.02rem;
}

.link {
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
@media only screen and (max-width: 767px) {
  .header {
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
}
.header .logo {
  width: 6.1875rem;
  height: 4.375rem;
  flex-shrink: 0;
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
.header__nav-toggler {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header__nav-toggler {
    width: 4rem;
    height: 4.375rem;
    display: block;
    background-image: url("../assets/svgs/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    background-color: #303841;
    border: none;
  }
}
@media only screen and (max-width: 767px) {
  .header__nav-toggler[aria-expanded=true] {
    background-image: url("../assets/svgs/icon-close.svg");
  }
}
.header .nav-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 70%;
}
@media only screen and (max-width: 767px) {
  .header .nav-wrap {
    display: none;
  }
}

.footer {
  background-color: #303841;
  padding: 1rem;
  width: 90rem;
  max-width: 100vw;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .footer {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1025px) {
  .footer {
    height: 27.125rem;
  }
}
.footer #company-wrap {
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .footer #company-wrap {
    flex-wrap: wrap;
    height: 100vh;
  }
  .footer #company-wrap aside {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .footer #company-wrap aside {
    width: 25%;
  }
}
.footer .section-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: 1rem auto;
}
@media only screen and (max-width: 767px) {
  .footer .section-wrap {
    flex-direction: column;
    margin: 1.5rem auto;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .footer .section-wrap {
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer #copyright-section {
    min-height: 150px;
    text-wrap: wrap;
  }
}
.footer .mini-heading {
  font-family: "Poppins", sans-serif;
}
.footer .link {
  opacity: 0.6;
  color: #FFFFFF;
  display: block;
  margin: 1rem 0rem;
}

html * {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */