.btn-link {
  display: inline-flex;
  height: 3rem;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 1px solid $color-dark;
  background: $color-light;

  &_btn-dark {
    background-color: $color-dark;
    color: $color-light;
  }

  &_btn-light {
    background-color: $color-light;
    color: $color-dark;
  }
}