$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-satoshi: 'Satoshi', sans-serif;
$color-dark: #303841;
$color-light: #F5FAFF;
$color-gray: #FFFFFF;

$extra-small-screen: 480px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;
$extra-large-screen: 1201px;